html, body, #mainPage {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    -webkit-user-select: none;
    font-size: 2.125rem;
    font-family: Tizen,Samsung Sans,Helvetica;
    color: rgba(245,245,245,1);
}

.ui-header {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgba(0,31,56,1);
}

.ui-header .ui-title {
    position: relative;
    top: 50%;
    line-height: 0;
    text-align: center;
    color: rgba(116,196,252,1);
    font-size: 2.125rem;
    margin: 0;
}

.ui-content {
    background-size: 100%;
    height: 80%;
}

.ui-footer {
    opacity: 0.7;
    position: fixed!important;
    height: 20%;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(2, 56, 92, 1);
}

.ui-btn {
    position: relative;
    height: 100%;
    text-align: center;
    border: 0 none;
    border-left: solid 1px rgba(8, 8, 8,1);
    width: 33.333333333333336%;
    float: left;
    box-sizing: border-box;
    line-height: 0;
}

#footer > .ui-btn:first-child {
    border-left: 0;
}

.gravity-background {
    background-image: url('../images/ballBackground.jpg');
}

.gravity-ball {
    content: url('../images/ball1.png');
}

.sky-background {
    background-image: url('../images/skyBackground.jpg');
}

.sky-ball {
    content: url('../images/balloon.png');
}

.space-background {
    background-image: url('../images/spaceBackground.jpg');
    background-color: #000;
    overflow: hidden;
}

.space-earth {
    content: url('../images/earth.png');
}

.space-sun {
    position: absolute;
    width: 86px;
    height: 86px;
    left: 0px;
    top: 0px;
    z-index: 50;
    content: url('../images/sun.png');
}

#ball {
    position: absolute;
    left: 0px;
    top: 0px;
}

#gravity-icon, #sky-icon, #space-icon {
    position: relative;
    width: 50px;
    margin-top: -25px;
    top: 50%;
}

@media (-tizen-geometric-shape: circle) {
    #header {
        height: 30%;
    }

    #footer {
        height: 25%;
    }

    #gravity-icon {
        top: 5px;
        right: 5px;
        position: absolute;
        margin-top: 0;
    }

    #space-icon {
        top: 5px;
        left: 5px;
        position: absolute;
        margin-top: 0;
    }
}
