<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/RobotControlWebS" version="1.0.0" viewmodes="maximized">
    <tizen:application id="XHIY5TNuo7.RobotControlWebS" package="XHIY5TNuo7" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/sensor.proximity"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <feature name="http://tizen.org/feature/sensor.gyroscope"/>
    <feature name="http://tizen.org/feature/sensor.magnetometer"/>
    <icon src="r2d2.png" height="117" width="117"/>
    <name>Force</name>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
